/D27
/D10
/D11
/D03
/D04
/D05
/*.dcu
/*.map
/*.exe
/units/*.dcu
/units/xwxh.~dfm
/units/xwxh.~pas
/units/xwxh.dcu
/units/xwxh.ddp
/units/xwxh.dfm
/units/xwxh.pas
/units/xwzp.~ddp
/units/xwzp.~dfm
/units/xwzp.~pas
/units/xwzp.dcu
/units/xwzp.ddp
/units/xwzp.dfm
/units/xwzp.pas
/units/About.~ddp
/units/About.~dfm
/units/About.~pas
/units/About.dcu
/units/About.ddp
/units/About.dfm
/units/About.pas
/units/cfrmXtdl.~ddp
/units/cfrmXtdl.~dfm
/units/cfrmXtdl.~pas
/units/cfrmXtdl.dcu
/units/cfrmXtdl.ddp
/units/cfrmXtdl.dfm
/units/cfrmXtdl.pas
/units/circle.dcu
/units/circle.dfm
/units/circle.pas
/units/diagnosis.dcu
/units/diagnosis.dfm
/units/diagnosis.pas
/units/diagnosis2.dcu
/units/diagnosis2.dfm
/units/diagnosis2.pas
/units/dm.~ddp
/units/dm.~dfm
/units/dm.~pas
/units/dm.dcu
/units/dm.ddp
/units/dm.dfm
/units/dm.pas
/units/edit.~ddp
/units/edit.~dfm
/units/edit.~pas
/units/edit.dcu
/units/edit.ddp
/units/edit.dfm
/units/edit.pas
/units/gpa.~ddp
/units/gpa.~dfm
/units/gpa.~pas
/units/gpa.dcu
/units/gpa.ddp
/units/gpa.dfm
/units/gpa.pas
/units/home.~ddp
/units/home.~dfm
/units/home.~pas
/units/home.dcu
/units/home.ddp
/units/home.dfm
/units/home.pas
/units/language.~ddp
/units/language.~dfm
/units/language.~pas
/units/language.dcu
/units/language.ddp
/units/language.dfm
/units/language.pas
/units/Login.~ddp
/units/Login.~dfm
/units/Login.~pas
/units/Login.dcu
/units/Login.ddp
/units/Login.dfm
/units/Login.pas
/units/main.~ddp
/units/main.~dfm
/units/main.~pas
/units/main.dcu
/units/main.ddp
/units/main.dfm
/units/main.pas
/units/main1.dfm
/units/movexy.dcu
/units/movexy.dfm
/units/movexy.pas
/units/Myutils.dcu
/units/Myutils.pas
/units/new.~dfm
/units/new.~pas
/units/new.dcu
/units/new.ddp
/units/new.dfm
/units/new.pas
/units/param.~ddp
/units/param.~dfm
/units/param.~pas
/units/param.dcu
/units/param.ddp
/units/param.dfm
/units/param.pas
/units/paramcast.~ddp
/units/paramcast.~dfm
/units/paramcast.~pas
/units/paramcast.dcu
/units/paramcast.ddp
/units/paramcast.dfm
/units/paramcast.pas
/units/paramcastmove.~ddp
/units/paramcastmove.~dfm
/units/paramcastmove.~pas
/units/paramcastmove.dcu
/units/paramcastmove.ddp
/units/paramcastmove.dfm
/units/paramcastmove.pas
/units/printselect.dfm
/units/printselect.pas
/units/programselect.dcu
/units/programselect.dfm
/units/programselect.pas
/units/programset.~ddp
/units/programset.~dfm
/units/programset.~pas
/units/programset.dcu
/units/programset.ddp
/units/programset.dfm
/units/programset.pas
/units/pubpas.~pas
/units/pubpas.dcu
/units/pubpas.pas
/units/puwait.dcu
/units/puwait.dfm
/units/puwait.pas
/units/query.dfm
/units/query.pas
/units/rectangle.~dfm
/units/rectangle.~pas
/units/rectangle.dcu
/units/rectangle.ddp
/units/rectangle.dfm
/units/rectangle.pas
/units/runpic.~ddp
/units/runpic.~dfm
/units/runpic.~pas
/units/runpic.dcu
/units/runpic.ddp
/units/runpic.dfm
/units/runpic.pas
/units/rx.~ddp
/units/rx.~dfm
/units/rx.~pas
/units/rx.dcu
/units/rx.ddp
/units/rx.dfm
/units/rx.pas
/units/tridimension.dcu
/units/tridimension.dfm
/units/tridimension.pas
/units/uProgLog.~pas
/units/uProgLog.dcu
/units/uProgLog.pas
/units/usbr.~ddp
/units/usbr.~dfm
/units/usbr.~pas
/units/usbr.dcu
/units/usbr.ddp
/units/usbr.dfm
/units/usbr.pas
/units/welcome.~ddp
/units/welcome.~dfm
/units/welcome.~pas
/units/welcome.dcu
/units/welcome.ddp
/units/welcome.dfm
/units/welcome.pas
/units/xwxh.~ddp
*.ddp
/perimeter.drc
/perimeter.cfg
/perimeter.dof
/dbfs
